.cartprocess{
    background: #000;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 99999;
}

.cartprocess .inbox{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -64px;
    color: #FFF;
    font-size: 30px;
    text-align: center;
}

.cartprocess .inbox .a{
    margin-bottom: 15px;
}
.cartprocess .inbox .b{

}

fieldset.scheduler-border {
    border: 1px groove #ddd ;
    padding: 0 1.4em 1.4em 1.4em ;
    margin: 0 0 1.5em 0 ;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 0.89em ;
    font-weight: bold ;
    text-align: left ;
    border:none;
    width:100px;
    padding-left: 5px;
}

.parsley-error-list{
    padding-top: 5px;
    color:#B94A48
}

.man:hover{
    cursor: pointer
}

.degradeContent{
    padding: 15px 10px 20px 15px; 
    background-image: linear-gradient(to bottom,#ffffff 0,#f5f5f5 100%);
    border-radius: 3px;
}

.total{
    width: 100%;
}

.mayusPrimeras{
    text-transform: capitalize;
}